#jinja2: lstrip_blocks: "True (or False)", trim_blocks: "True (or False)"
sites:
{% for vlan in prod_ecdn_vlans['data']['vlans'] %}
  - name: {{ vlan['site']['name'] }}
    physical_address: {{ vlan['site']['physical_address'] }}
{% endfor %}
roles:
{% for vlan in prod_ecdn_vlans['data']['vlans'] %}
  - name: {{ vlan['role']['name'] }}
{% endfor %}
vlans:
{% for vlan in prod_ecdn_vlans['data']['vlans'] %}
  - name: {{ vlan['name'] }}
    vid: {{ vlan['vid'] }}
    role: {{ vlan['role']['name'] }}
    site: {{ vlan['site']['name'] }}
{% endfor %}
prefixes:
{% for vlan in prod_ecdn_vlans['data']['vlans'] %}
  {% for prefix in vlan['prefixes'] %}
  - prefix: {{ prefix['prefix'] }}
    role: {{ prefix['role']['name'] }}
    site: {{ vlan['site']['name'] }}
    vlan: {{ vlan['name'] }}
  {% endfor %}
{% endfor %}