#jinja2: lstrip_blocks: "True (or False)", trim_blocks: "True (or False)"
virtualmachines:
{% for tenant in prod_nb_ecdn_list['data']['tenants'] %}
  {% for vm in tenant['devices'] %}
  - name: {{ vm['name'] }}
    cluster: {{ vm['cluster']['name'] }}
    role: {{ vm['role']['name'] }}
    {% for int in vm['interfaces'] %}
      {% for address in int['ip_addresses'] %}
        {% if '.' in address['address'] %}
    ipv4: {{ address['address'] }}
        {% elif ':' in address['address'] %}
    ipv6: {{ address['address'] }}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}