dev_locations:
{% for parent in dev_parent_list['data']['locations'] %}
{% for site in prod_sites if parent['name'] == site['region'] %}
  - name: {{ site['name'] }}
    slug: {{ site['slug'] }}
    physical_address: {{ site['physical_address'] }}
    region: {{ site['region'] }}
    region_id: {{ parent['id'] }}
{% endfor %}
{% endfor %}