cachememprofiles:
{% for cache in hypercachememprofile.data.hyper_cache_memory_profiles %}
  - name: {{ cache.name }}
    frontEndCacheMemoryPercent: {{ cache.frontEndCacheMemoryPercent }}
    ramOnlyCacheMemoryPercent: {{ cache.ramOnlyCacheMemoryPercent}}
    hotCacheMemoryPercent: {{ cache.hotCacheMemoryPercent}}
    diskIndexMemoryPercent: {{ cache.diskIndexMemoryPercent}}
    cacheMemoryProfileId: {{ cache.cacheMemoryProfileId}}
    id: {{ cache.id }}
{% endfor %}