prod_sites:
{% for site in prod_sites['data']['sites'] %}
  - name: {{site['name']}}
    slug: {{ site['slug'] }}
    physical_address: "{{ site['physical_address'] }}"
{% if site['region'] is not none and site['region']['name'] is not none %}
    region: {{ site['region']['name'] }}
    region_slug: {{ site['region']['slug'] }}
{% else %}
    region: none-assigned
{% endif %}
{% endfor %}