regions:
{% set processed_sites = [] %}
{% for site in pop_sites.data.devices %}
{% if site['site']['region']['name'] not in processed_sites %}
{% set _ = processed_sites.append(site['site']['region']['name']) %}
  - name: {{ site['site']['region']['name'] }}
    slug: {{ site['site']['region']['slug'] }}
{% endif %}
{% endfor %}

pop_sites:
{% set processed_sites = [] %}
{% for site in pop_sites.data.devices %}
{% if site['site']['name'] not in processed_sites %}
{% set _ = processed_sites.append(site['site']['name']) %}
  - name: {{ site['site']['name'] }}
    slug: {{ site['site']['slug'] }}
    physical_address: {{ site['site']['physical_address'] }}
    region:
      name: {{ site['site']['region']['name'] }}
      slug: {{ site['site']['region']['slug'] }}
{% endif %}
{% endfor %}

chub_sites:
{% set processed_sites = [] %}
{% for site in chub_sites.data.devices %}
{% if site['site']['name'] not in processed_sites %}
{% set _ = processed_sites.append(site['site']['name']) %}
  - name: {{ site['site']['name'] }}
    slug: {{ site['site']['slug'] }}
    physical_address: {{ site['site']['physical_address'] }}
    region:
      name: {{ site['site']['region']['name'] }}
      slug: {{ site['site']['region']['slug'] }}
{% endif %}
{% endfor %}

shield_sites:
{% set processed_sites = [] %}
{% for site in shield_sites.data.devices %}
{% if site['site']['name'] not in processed_sites %}
{% set _ = processed_sites.append(site['site']['name']) %}
  - name: {{ site['site']['name'] }}
    slug: {{ site['site']['slug'] }}
    physical_address: {{ site['site']['physical_address'] }}
    region:
      name: {{ site['site']['region']['name'] }}
      slug: {{ site['site']['region']['slug'] }}
{% endif %}
{% endfor %}