{% extends 'generic/object_retrieve.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>CDN Site</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Akamai Site Name</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <span class="label" style="color: {{ object.status.color|fgcolor }}; background-color: #{{ object.status.color }}">{{ object.get_status_display }}</span>
                </td>
            </tr>
            <tr>
                <td>Abbreviated Name</td>
                <td>{{ object.abbreviatedName }}</td>
            </tr>
            <tr>
                <td>Akamai Site ID</td>
                <td>{{ object.siteId }}</td>
            </tr>    
            <tr>
                <td>Akamai Site Bandwidth Limits </td>
                <td>{{ object.bandwidthLimitMbps }}</td>
            </tr>   
            <tr>
                <td>Akamai Site Disk Mode </td>
                <td>{{ object.enableDisklessMode }}</td>
            </tr>  
            <tr>
                <td>Akamai Site Memory Profile </td>
                <td>{{ object.cacheMemoryProfileId }}</td>
            </tr>
            <tr>
                <td>Akamai Site Primary Neighbor </td>
                <td>{{ object.neighbor1|hyperlinked_object }}</td>
            </tr>
            <tr>
                <td>Akamai Site Primary Neighbor Preference </td>
                <td>{{ object.neighbor1_preference }}</td>
            </tr>
            <tr>
                <td>Akamai Site Secondary Neighbor </td>
                <td>{{ object.neighbor2|hyperlinked_object }}</td>
            </tr>
            <tr>
                <td>Akamai Site Secondary Neighbor Preference </td>
                <td>{{ object.neighbor2_preference }}</td>
            </tr>
            <tr>
                <td>Akamai Failover Site </td>
                <td>{{ object.failover_site|hyperlinked_object }}</td>
            </tr>
            <tr>
                <td>CDN Role </td>
                <td>{{ object.cdn_site_role|hyperlinked_object }}</td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Location Information</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Site</td>
                <td>
                    {% if object.site.region %}
                        {{ object.site.region|hyperlinked_object }} /
                    {% endif %}
                    {{ object.site|hyperlinked_object }}
                </td>
            </tr>
        </table>
    </div>
{% endblock content_left_page %}

{% block content_right_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Akamai Devices</strong>
            </div>
            {% include 'nautobot_cdn_models/inc/table.html' with table=relation_table %}
                <div class="panel-footer text-right noprint">
                    <a href="{% url 'extras:relationshipassociation_list' %}?relationship=cdnsites_associated_devices&destination_id={{ object.pk }}"></a>
                </div>
        </div>
        {% include 'nautobot_cdn_models/inc/paginator.html' with paginator=relation_table.paginator page=relation_table.page %}
        <div class="row"></div>
        <!-- DataDog graph -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>DataDog Graph - Utilization over the past week</strong>
            </div>
            <div class="panel-body">
                <iframe src="{{ datadog_graph_url }}" width="800" height="600" frameborder="0"></iframe>
            </div>
        </div>
{% endblock content_right_page %}

{% block extra_nav_tabs %}
    {% if perms.view_cdnconfigcontext %}
        <li role="presentation"{% if active_tab == 'cdn-config-context' %} class="active"{% endif %}>
            <a href="{% url 'plugins:nautobot_cdn_models:cdnsite_cdnconfigcontext' pk=object.pk %}">CDN Config Context</a>
        </li>
    {% endif %}
{% endblock extra_nav_tabs %}
