{% extends 'generic/object_retrieve.html' %}
{% load helpers %}

{% block content_left_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Content Provider</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Name</td>
                    <td>{{ object.name|placeholder }}</td>
                </tr>
                <tr>
                    <td>account</td>
                    <td>{{ object.slug|placeholder }}</td>
                </tr>
                <tr>
                    <td>Enabled to Serve content</td>
                    <td>{{ object.enable|placeholder }}</td>
                </tr>
                <tr>
                    <td>Akamai Service Provider ID</td>
                    <td>{{ object.serviceProviderId|placeholder }}</td>
                </tr>
                <tr>
                    <td>Akamai Content Provider ID</td>
                    <td>{{ object.contenteProviderId|placeholder }}</td>
                </tr>                                                                                                           
            </table>
        </div>
{% endblock content_left_page %}
