{% extends 'generic/object_retrieve.html' %}
{% load helpers %}
{% load json_filters %}

{% block content_left_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>General Configuration</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Name</td>
                    <td>{{ object.name|placeholder }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
                <tr>
                    <td>Enabled to Serve content</td>
                    <td>{{ object.enable|placeholder }}</td>
                </tr>
                <tr>
                    <td>Shareable Host FQDN</td>
                    <td>{{ object.hostnameOverride|placeholder }}</td>
                </tr>
                <tr>
                    <td>Resolvable FQDNs</td>
                    <td>{{ object.resolvableHostnames|placeholder }}</td>
                </tr>
                <tr>
                    <td>Origin Timeout (s)</td>
                    <td>{{ object.originTimeout|placeholder }}</td>
                </tr>
                <tr>
                    <td>Akamai Content Provider</td>
                    <td>{{ object.contentProviderId|placeholder }}</td>
                </tr>                                                                                                           
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Origin Health Check</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                {% if object.dynamicHierarchy.healthCheckUrl is defined %}
                <tr>
                    <td>Origin Health Check URL</td>
                    <td>{{ object.dynamicHierarchy.healthCheckUrl|placeholder }}</td>
                </tr>
                {% endif %}
                {% if object.dynamicHierarchy.healthCheckInterval is defined %}
                <tr>
                    <td>Origin Health Check Interval</td>
                    <td>{{ object.dynamicHierarchy.healthCheckInterval|placeholder }}</td>
                </tr>
                {% endif %}
                {% if object.dynamicHierarchy.healthCheckValidResponseCodes is defined %}
                <tr>
                    <td>Origin Health Check Response Codes</td>
                    <td>{{ object.dynamicHierarchy.healthCheckValidResponseCodes|placeholder }}</td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Fast Reroute</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                {% if object.fastReroute.enable is defined %}
                <tr>
                    <td>Fast Reroute Enabled</td>
                    <td>{{ object.fastReroute.enable|placeholder }}</td>
                </tr>
                {% endif %}
                {% if object.fastReroute.originTimeout is defined %}
                <tr>
                    <td>Fast Reroute Origin Timeout</td>
                    <td>{{ object.fastReroute.originTimeout|placeholder }}</td>
                </tr>
                {% endif %}
                {% if object.fastReroute.intraCdnTimeout is defined %}
                    <td>Fast Reroute Origin Intra CDN Timeout</td>
                    <td>{{ object.fastReroute.intraCdnTimeout|placeholder }}</td>
                </tr>
                {% endif %}                                                                                                    
            </table>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>CDN Additional Configurations</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Site Redirects Enabled</td>
                    <td>{{ object.enableSiteRedirects|placeholder }}</td>
                </tr>
                <tr>
                    <td>HTTP Status Error Response Codes</td>
                    <td>{{ object.cacheableErrorResponseCodes|placeholder }}</td>
                </tr>
                <tr>
                    <td>Error Max Retry</td>
                    <td>{{ object.errorCacheMaxRetry|placeholder }}</td>
                </tr>
                <tr>
                    <td>Error Max Age (s)</td>
                    <td>{{ object.errorCacheMaxAge|placeholder }}</td>
                </tr>
                <tr>
                    <td>Storage Partition ID</td>
                    <td>{{ object.storagePartitionId|placeholder }}</td>
                </tr>
                <tr>
                    <td>Authenticated Content Enabled</td>
                    <td>{{ object.enableAuthenticatedContent|placeholder }}</td>
                </tr>
                <tr>
                    <td>Site Redirects Enabled</td>
                    <td>{{ object.enableSiteRedirects|placeholder }}</td>
                </tr>
                <tr>
                    <td>InterSite Protocol</td>
                    <td>{{ object.interSiteProtocol|placeholder }}</td>
                </tr>
                <tr>
                    <td>IntraSite Protocol</td>
                    <td>{{ object.intraSiteProtocol|placeholder }}</td>
                </tr>
                <tr>
                    <td>EdgeHost Type</td>
                    <td>{{ object.edgeHostType|placeholder }}</td>
                </tr>
                <tr>
                    <td>Edge Hostname</td>
                    <td>{{ object.edgeHostname|placeholder }}</td>
                </tr>
                <tr>
                    <td>IP Address Types</td>
                    <td>{{ object.ipAddressTypes|placeholder }}</td>
                </tr>
            </table>
        </div>
{% endblock content_left_page %}